 # https://github.com/platformatic/platformatic/issues/2395
 # When true, all dependencies are hoisted to node_modules/.pnpm/node_modules.
 # This makes unlisted dependencies accessible to all packages inside node_modules.
node-linker=hoisted
